
/* Base Styles / Mobile View*/
* {
    box-sizing: border-box;
    /*border: 1px red solid;*/
}

body {
    color: #efefe6;
    font-family: 'Assistant', sans-serif;
} 

.outermargin-page-header, 
.outermargin-contact-info, 
.outermargin-footer, 
.outermargin-secpage,
.outermargin-secpagefooter {
    background-color: #ff4c29;
}
.outermargin-page-header,
.outermargin-footer {
    padding-bottom: 35px;
}

.child {
    width: 85%;
    margin: 0 auto;
}
.headernav { /* to make it flex*/
    display: flex;
    justify-content: space-between;
}

  .main-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  text-transform: uppercase; 
  } 
  

   li {
    font-size: 16px;
    padding: 12px;
    text-align: center;
    list-style-type: none;
 
  } 

.header-name {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-self: flex-start;
    color: #EFEFE6;
    font-size: 16px;
    margin-left: 8rem;
    margin-bottom: auto;
}
.developer-title {
    font-size: 70px;
    color: #EFEFE6;
    font-weight: 600;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8rem;
}
.mission-statement {
    font-size: 16px;
    color: #EFEFE6;
    width: 50%;
    margin-left: 8rem;
}
.scrollmore {
    margin-left: 8rem;
    padding-top: 5%;
    
}
.scrollmore:hover {
    color:#082032;
   
}
span {
    font-size: 16px;
    margin-left: 2rem;
    margin-top: 10px;
}

h2 {
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
    font-family: 'Assistant', sans-serif;
    padding: 10px 5px 5px 15px;
    color: #efefef;
    width: auto;
}
/* /navbar*/


/* introduction starts*/
.intro {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}
.outermargin-intro .inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
}
.intro .outermargin-intro {
    min-height: 40vh;
    background-image: url('../images/growthup.jpeg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
    border-radius: 0.40rem;
}
.welcome-parag {
    color:#35495a;
    text-align: left;
    width: 75%;
 
}

/* /introduction ends*/


/* gallery of works starts*/
.card-gallery {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 30%;
    align-items: center;
}
.card-gallery p {
    width: 60%;
}
.gallerylayout {
    display: flex;
    justify-content: center;
}
.gallery-heading, .topictitle, .biotitle {
    color:#35495a;
    padding-top: 2rem;
    
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-left: 20px; 
}
.card-parag {
    display: flex;
    text-align: left;
    width: 70%;
    flex-grow: 2;
    color:#35495a;
}

img {
    margin-top: 20px;
    border-radius: 3%;
    width: 60%;
    height: auto;
}
.readmore-button {
  
    color: #ff4c29;
    font-size: 16px;
    margin-left: 5rem;
    padding: 10px;
    margin-top:32px;
    border-radius: .25rem;
}
.readmore-button:hover {
    color: #ff7f51;
    background-color: #35495a;
}
.viewproject {
    margin-left: 0;
    margin-top: 0;
}
/* gallery of works ends*/


/* bio starts*/
.bio {
    text-align: center;
    margin: 10px; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;    
}
.bio-parag {
    display: flex;
    color: #35495a;
    text-align: left;
    text-indent: 5%;
    padding: 5%;
    line-height: 1.1rem;
}

.aboutme-photo {
    width: 200px;
    height: 200px;
    border-radius: 2rem;
    float: left; 
}
/* bio ends*/


/* contact starts*/
.contact-info {
    width: 100%;
   
}
.contactcontainer { /* to make it flex*/
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
   
}
.contactcontainer p, a {
    align-self: center;
    
}
.contactwavedivider {
    margin-bottom: -6px;
}



.email-button {
    color: #ff4c29;
    font-size: 16px;
    margin-top: 30px;
    padding: 1%;
    border-radius: 0.25rem;
    width: 20%;
    list-style-type: none;

   
}
.email-button:hover {
    background-color: #ff7f51;
}

a { /*contact me button*/
    color: #efefef;
    font-weight: 700;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    border: 2px solid;
    border-radius: .30rem;
    text-align: center;
   
  
}
a:hover { /*contact me button*/
    color:#ff4c29;
    background-color: #35495a;
    text-align: center;
}
/* /contact ends*/


/* footer starts*/
.footer {
    font-size: 16px;
    color:#082032;
    
}
.footer-heading {
    text-align: center;
    width: 100%;
}

h4 {
    display: block;
    padding-top: 10px;
    margin-top: 0;
    color:#35495a;
    margin-bottom: 1rem;
}

h5 {
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
}
/* /footer ends*/

/* page 2 section*/

.topics {
    display: flex;
    flex-wrap: wrap;
 
}
h3 { /* pg 2 topics of interest*/
    color:#35495a;
    border-bottom: 1px dotted black;
    padding-bottom: 10px;
   
}
.scrumtopic, .accessabiltopic, .typogratopic {
    border: 1px dotted #35495a;
    border-radius: .60rem;
    background-color:#f0efeb;
}
.scrumpara, .accessabilpara, .typograpara {
    font-size: 16px;
    color: #35495a;
    
}
.topic-gallery {
        display: flex;
        justify-content: space-between;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 30%;
    }
    .topiclayout {
        display: flex;
        justify-content: center; 
    }



 



